.filmList {
    :global .filmList-container {
        // max-width: 940px;
        padding-top: 25px;
        margin-bottom: 80px;
        .slick-arrow {
            &::before {
                content: "";
            }
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 50px;
            height: 50px;
        }

        .slick-list {
            min-height: 400px;
        }

        .slick-prev {
            background-image: url('/./img/back-session.png');
            left: -60px;
        }

        .slick-next {
            background-image: url('/./img/next-session.png');
            right: -60px;
        }
    }
}

@media screen and (max-width: 1260px) {
    .filmList {
        :global .filmList-container {
            .slick-prev {
                background-image: url('/./img/back-session.png');
                left: -35px;
            }
    
            .slick-next {
                background-image: url('/./img/next-session.png');
                right: -35px;
            }
        }
    }
}