.listCinema {
    :global .listCinemaContent {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        // column 1
        .listCinemasGroup {
            width: 92px;
            // min-height: 705px;
            min-height: 505px;
            border: 1px solid #ebebec;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            .cinemasGroupItem {
                background: #ffffff;
                display: inline-block;
                padding: 20px;
                cursor: pointer;
                border: none;
                position: relative;
                transition: all 0.2s;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 70%;
                    transform: translateX(-50%);
                    border-bottom: 1px solid #ffffff;
                    border-color: rgba(238,238,238,.88);
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                }
                &[aria-selected="true"] {
                    img {
                        opacity: 1;
                    }
                }
                img {
                    width: 50px;
                    opacity: 0.5;
                }
            }

            // ghi đè css của .rwt__tab[aria-selected="true"]:after
            .rwt__tab {
                &[aria-selected="true"]::after {
                    border-right: transparent;
                    img {
                        opacity: 1;
                    }
                }
            }
            
        }

        // column 2
        .listCinemas {
            width: 30%; // => dự định bỏ
            // min-height: 705px;
            // height: 705px;
            min-height: 505px;
            height: 505px;
            overflow-y: auto;
            border-top: 1px solid #ebebec;
            border-bottom: 1px solid #ebebec;
            float: left;

            .cinemaItem {
                padding: 15px;
                padding-left: 20px;
                float: left;
                clear: both;
                width: 100%;
                position: relative;
                opacity: 0.5;
                cursor: pointer;
                transition: all 0.2s;

                &[aria-selected="true"] {
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 90%;
                    transform: translateX(-50%);
                    border-bottom: 1px solid #fff;
                    border-color: rgba(238,238,238,.88);
                }
                .cinema__image {
                    float: left;
                    width: 50px;
                }
                .cinema__info {
                    span {
                        text-align: left;
                        display: block;
                        line-height: 1.4;
                    }
                    padding-left: 60px;
                    .cinema__name {
                        color: #000;
                        font-size: 14px;
                        .cinema__parent {
                            color: #e71a0f;
                            display: inline-block !important;
                        }
                    }
                    .cinema__address {
                        font-size: 12px;
                        color: #949494;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .cinema__detail {
                        a {
                            color: #fb4226;
                            text-decoration: none;
                        }
                    }
                }
            }

            // ghi đè css của .rwt__tab[aria-selected="true"]::after
            // ghi đè css của .rwt__tab[aria-selected="false"]:hover
            .rwt__tab {
                &[aria-selected="true"]::after {
                    border-right: transparent;
 
                }
                &[aria-selected="false"]:hover {
                    background: transparent;
                    background-color: transparent;
                }
            }
        }
    }
}