.header {
    // :global(.container) {
    :global .container {
        h1 {
            color:green;
        }
        .left {
            color: yellow;
           .left-p {
               background-color: #999;
               p {
                   color: tomato;
                   letter-spacing: 2px;
               }
           }
        }
        .right {
            color: red;
        }
    }
}