.film {
  height: 320px;
  max-width: 210px;
  margin: 0 auto;
  padding: 15px 5px 0;
  position: relative;
  outline: none;
}

.film :global .film__hot {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 10;
  max-width: 150px;
  overflow: hidden;
}

.film :global .film__hot img {
  width: 100%;
}

.film :global .filmDetail {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.film :global .filmDetail .filmThumbnail {
  height: 100%;
  background-position: center,0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat,repeat-y;
  position: relative;
}

.film :global .filmDetail .filmThumbnail .film__avgPoint {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 2px;
  width: 54px;
  border-radius: 2px;
  text-align: center;
  background-color: rgba(12, 27, 54, 0.8);
  color: white;
  font-size: 16px;
  text-align: center;
}

.film :global .filmDetail .filmThumbnail .film__avgPoint .smallStar {
  max-width: 7px;
}

.film :global .filmDetail .film__hoverInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 120%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.426);
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.film :global .filmDetail .film__playButton {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.film :global .filmDetail .film__playButton .playButton {
  background: transparent;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
}

.film :global .filmDetail .film__playButton .playButton span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  border: 1.3px solid white;
  border-radius: 50%;
}

.film :global .filmDetail .film__playButton .playButton span i {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
  color: white;
}

.film :global .filmDetail .film__playButton .playButton span:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.film :global .fimInfo {
  padding: 5px 0;
  position: relative;
}

.film :global .fimInfo .nameFilm--noHover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 50px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.film :global .fimInfo .nameFilm--noHover .ageType {
  background-color: red;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 3px;
  border-radius: 4px;
}

.film :global .fimInfo .nameFilm--noHover .filmTitle {
  font-size: 14px;
  font-family: 'SF Medium';
}

.film :global .fimInfo .infoFim {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  height: 50px;
  overflow: hidden;
}

.film :global .fimInfo .infoFim .time {
  font-size: 12px;
  color: #4a4a4a;
}

.film :global .fimInfo .nameFilm--hover {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.film :global .fimInfo .nameFilm--hover .buyNow {
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 4px;
  padding: 5px 0;
  background: -webkit-gradient(linear, right top, left top, from(#fb4226), to(#ce3017));
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  color: white;
  font-size: 18px;
}

.film:hover :global .fimInfo .nameFilm--noHover {
  opacity: 0;
}

.film:hover :global .fimInfo .infoFim {
  opacity: 0;
}

.film:hover :global .fimInfo .nameFilm--hover {
  opacity: 1;
}

.film:hover :global .filmDetail .film__hoverInfo {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.film:hover :global .filmDetail .film__playButton {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .film :global .filmDetail .film__playButton .playButton {
    display: none;
  }
}
/*# sourceMappingURL=NowShowingFilm.module.css.map */