.Carousel {
    // :global(.container) {
    :global .carousel__Slider {
        ol{
            li{
                border-radius: 50%;
            }
        }
        .carousel-inner{
            .carousel-item{
                position: relative;
                .container{
                    .carousel__Slider--Content{
                        position: absolute;
                        top: 50%;
                    }
                    .carousel__Slider--Play{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        button{
                            border: 1px solid white;
                            border-radius: 50%;
                            padding: 20px;
                            font-size: 30px;
                            background-color: transparent;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}