.seatList {
    :global .bookingTicketPage__grid {
        display: grid;
        grid-template-columns: repeat(17, 45px);
        row-gap: 10px;
        width: fit-content;
        margin: 0 auto;
    }
}